@{
    ViewData["Title"] = "About us";
    ViewBag.ClassAboutUs = "highlighted";
}

@section CssLink {
    <link rel="stylesheet" href="~/css/aboutus.css">
}

<main>
    <!-- ABOUT PROJECT -->
    <section id="aboutProject" class="info_card">
        <img src="../img/arduino_board.png" width="400px" alt="arduino board">

        <div>
            <h2 class="section_title">Our Project</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum officia laborum deleniti eaque culpa magnam, odit voluptates, accusamus eveniet, aliquid vero et quisquam nihil incidunt quasi aspernatur dignissimos recusandae aut earum. Vel, doloribus nemo! Voluptates provident impedit consectetur. Omnis cumque numquam excepturi accusamus vitae atque temporibus non delectus nihil magni officiis, cum, eos explicabo cupiditate enim illum doloribus esse? Asperiores laudantium soluta velit corrupti error modi quisquam dolorum eum cumque, perspiciatis, necessitatibus minus saepe debitis iusto cupiditate, iste quasi? Dolor debitis doloremque cupiditate ducimus reprehenderit voluptatem tempore quo impedit, nobis ipsam ea autem quaerat voluptatum saepe iusto dolores consequatur sit blanditiis aliquid quae, nam cum inventore? Ad dolores quaerat non nesciunt ullam nulla nostrum tenetur, nemo quidem blanditiis doloremque error voluptatem autem maxime repellendus, iure, aut inventore harum debitis excepturi modi eius impedit incidunt.
            </p>
        </div>
    </section>

    <section id="ourTeam" class="info_card spacing">
        <h2 class="section_title">Our team</h2>
        <ul class="members_list">
            <li class="member">
                <div class="picture_container">
                    <img src="https://i.pravatar.cc/" alt="avatar" class="member_picture">
                </div>
                <div class="personal_info">
                    <p class="fullname">Javad Aliyev</p>
                    <p class="team_role">Leader</p>
                    <p class="major">Electrical and Electronics Engineering</p>
                </div>
            </li>

            <li class="member">
                <div class="picture_container">
                    <img src="https://i.pravatar.cc/" alt="avatar" class="member_picture">
                </div>
                <div class="personal_info">
                    <p class="fullname">Murad Balashli</p>
                    <p class="team_role">Member</p>
                    <p class="major">Electrical and Electronics Engineering</p>
                </div>
            </li>

            <li class="member">
                <div class="picture_container">
                    <img src="https://i.pravatar.cc/" alt="avatar" class="member_picture">
                </div>
                <div class="personal_info">
                    <p class="fullname">Ali Garashli</p>
                    <p class="team_role">Member</p>
                    <p class="major">Computer Science</p>
                </div>
            </li>

            <li class="member">
                <div class="picture_container">
                    <img src="https://i.pravatar.cc/" alt="avatar" class="member_picture">
                </div>
                <div class="personal_info">
                    <p class="fullname">Mahammadali Valizada</p>
                    <p class="team_role">Member</p>
                    <p class="major">Computer Engineering</p>
                </div>
            </li>
        </ul>
    </section>
</main>