@{
    ViewData["Title"] = "About us";
    ViewBag.ClassAboutUs = "highlighted";
}

@section CssLink {
    <link rel="stylesheet" href="~/css/aboutus.css">
}

<main>
    <!-- ABOUT PROJECT -->
    <section id="aboutProject" class="info_card">
        <img src="../img/arduino_board.png" width="400px" alt="arduino board">

        <div>
            <h2 class="section_title">Our Project</h2>
            <p>
                Our senior design project is a comprehensive smart security system developed by a multidisciplinary team of two Electrical Engineering students, one Computer Science student, and one Computer Engineering student. The system integrates three core sensors to enhance safety and situational awareness in residential or small commercial environments. A fire sensor continuously monitors temperature and smoke levels to detect early signs of fire hazards. The gas sensor identifies potentially dangerous gas leaks, providing timely alerts to prevent health risks and explosions. Additionally, a motion sensor detects unauthorized movement, strengthening intrusion detection capabilities.
            </p>
            <p>
                These sensors are seamlessly connected through a microcontroller-based platform, enabling real-time data processing and alert generation. When a threat is detected, the system can trigger alarms and send notifications to users, ensuring rapid response. Designed with reliability, efficiency, and scalability in mind, this project demonstrates the integration of hardware and software to address real-world safety challenges through intelligent monitoring solutions.
            </p>
        </div>
    </section>

    <section id="ourTeam" class="info_card spacing">
        <h2 class="section_title">Our team</h2>
        <ul class="members_list">
            <li class="member">
                <div class="picture_container">
                    <img src="https://i.pravatar.cc/" alt="avatar" class="member_picture">
                </div>
                <div class="personal_info">
                    <p class="fullname">Javad Aliyev</p>
                    <p class="team_role">Leader</p>
                    <p class="major">Electrical and Electronics Engineering</p>
                </div>
            </li>

            <li class="member">
                <div class="picture_container">
                    <img src="https://i.pravatar.cc/" alt="avatar" class="member_picture">
                </div>
                <div class="personal_info">
                    <p class="fullname">Murad Balashli</p>
                    <p class="team_role">Member</p>
                    <p class="major">Electrical and Electronics Engineering</p>
                </div>
            </li>

            <li class="member">
                <div class="picture_container">
                    <img src="https://i.pravatar.cc/" alt="avatar" class="member_picture">
                </div>
                <div class="personal_info">
                    <p class="fullname">Ali Garashli</p>
                    <p class="team_role">Member</p>
                    <p class="major">Computer Science</p>
                </div>
            </li>

            <li class="member">
                <div class="picture_container">
                    <img src="https://i.pravatar.cc/" alt="avatar" class="member_picture">
                </div>
                <div class="personal_info">
                    <p class="fullname">Mahammadali Valizada</p>
                    <p class="team_role">Member</p>
                    <p class="major">Computer Engineering</p>
                </div>
            </li>
        </ul>
    </section>
</main>