@{
    ViewData["Title"] = "Add user";
}

@section CssLink {
    <link rel="stylesheet" href="~/css/sign_in.css">
}

<!-- MAIN -->
<main>
    <form id="sign_in_form" action="" class="info_card">
        <div class="profile_pic_container">
            <input class="img_upload" type="file" accept="image/*">
            <img class="profile_pic" src="../img/profile_pic_icon.png" alt="profile picture">
        </div>

        <input type="text" class="input_box" placeholder="Username">
        <p class="error_msg">*Username not found</p>

        <input type="password" class="input_box" placeholder="Password">
        <p class="error_msg">*Password must be at least 8 characters, with at least one lowercase, uppercase, special latin character, and one digit</p>

        <input type="password" class="input_box" placeholder="Repeat password">
        <p class="error_msg">*Passwords do not match</p>

        <button class="button">Add User</button>
    </form>
</main>