@model EditUserViewModel

@{
    ViewData["Title"] = "Edit user";
}

@section CssLink {
    <link rel="stylesheet" href="~/css/sign_in.css">
}

<main>
    <form method="post" asp-action="Edit" enctype="multipart/form-data" id="sign_in_form" class="info_card">
        <input asp-for="Id" type="hidden" />

        <div class="profile_pic_container">
            <input asp-for="ProfilePicture" class="img_upload" type="file" accept="image/*">
            <img class="profile_pic" src="~/img/@(Model.ProfilePicturePath ?? "profile_pic_icon.png")" alt="profile picture">
        </div>

        <input asp-for="Username" type="text" class="input_box" placeholder="Username">

        <input asp-for="Email" type="text" class="input_box" placeholder="Email">

        <input asp-for="Password" type="password" class="input_box" placeholder="New Password">

        <input asp-for="RepeatPassword" type="password" class="input_box" placeholder="Repeat password">

        <div asp-validation-summary="All" class="error_msg"></div>

        <button class="button">Save Changes</button>
    </form>
</main>