@model Dictionary<AppUser, bool>

@{
    ViewData["Title"] = "View users";
}

@section CssLink {
    <link rel="stylesheet" href="~/css/view_users.css">
}

@section Script {
    <script src="../js/viewUsers.js"></script>
}

<main>
    <h2 class="card_title">Users</h2>

    <form>
        <input type="search" class="search_bar" id="searchBar" placeholder="Search user..." />
    </form>

    @await Html.PartialAsync("../Partials/_ViewUsersPartial", Model)

    <div id="dialogContainer">
        <dialog id="dialogWindow" class="info_card">
            <p>Are you sure you want to delete this user?</p>
            <div class="dialog_buttons">
                <a id="cancelDialogButton" class="button">Cancel</a>
                <a id="confirmDialogButton" class="serious_button button">Confirm</a>
            </div>
        </dialog>
    </div>
</main>